body{
  font-family:Arial;
  background:#f3f4f6;
}

.login-box{
  width:300px;
  margin:100px auto;
  background:white;
  padding:30px;
  border-radius:10px;
}

input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
}            

button{
  width:100%;
  padding:12px;
}

.dashboard{
  padding:40px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-top:20px;
}                                    